
<div class="article_body">
     <article id="articles">
          <h3>Title: <%= article.title %></h3>
          <p class="article__description"><strong>Description:</strong> <%= article.description %></p>
          <p class="article__body"><Strong>Content</Strong><br><%= article.body %></p>
          <div class="article_info">
               <p class="article_author">By <%= article.authorId.firstName %> <%= article.authorId.lastName %></p>
               <p class="article_date"><%= article.createdAt.toDateString() %></p>
          </div>
     </article>
</div>